<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Добрый день!</h1>
    <p>
      Имя нового сотрудника <%= @user.name %>.<br/>
    </p>
    <p>
      Прошу завершить его регистрацию.
    </p>
    С наилучшими пожиланиями!
  </body>
</html>
